<section class="relative container mx-auto px-[24px]">
  <div class="flex justify-between items-center">
    <h1 class="text-lg text-[#363438] font-bold">Trending workouts</h1>
    <a href="#" class="text-gray-400 text-sm underline">see all</a>
  </div>
  <div class="bg-white p-3 rounded-2xl my-4 w-full justify-between relative flex items-center overflow-hidden">
    <div class="flex items-center">
      <img src="assets/images/fglobe.svg" class="w-5 h-5" alt="">
      <h1 class="text-md text-[#000] font-normal mx-2">Muscle Builder</h1>
    </div>
    <img src="assets/images/fplay.svg" class="w-10 h-10" alt="">
  </div>
</section>
