.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.ball {
  animation: ball 0.5s ease;
}

@keyframes ball {
  0% {
    opacity: 0.1;
    right: -100%;
    transform: scale(0%);
  }

  100% {
    opacity: 1;
    right: 0%;
    transform: scale(100%);
  }
}
