<section class="relative container mx-auto px-[24px] -mt-7 z-50">
  <div class="justify-center relative flex">
    <div class="flex items-center" (click)="openMenu()">
      <button type="button" class="bg-[#7D66FF] flex rounded-full items-center p-5">
        <img src="assets/images/fplus.svg" class="w-6 h-6 opacity-85" alt="">
      </button>
      <div id="ringBall" class="absolute flex rounded-full items-center p-10 border-[6px] border-[#C6FD51] opacity-0"></div>
    </div>
  </div>
</section>
<div class="absolute inset-x-0 bottom-0 bg-white h-20 w-full mx-auto p-[24px] rounded-b-[49px] rounded-t-3xl z-40">
  <div class="relative container mx-auto px-2">
    <div class="flex justify-between items-center">
      <div class="flex items-center">
        <img src="assets/images/fhome.svg" class="w-6 h-6 opacity-85 mr-3" alt="">
        <img src="assets/images/fbar.svg" class="w-6 h-6 opacity-85 ml-3" alt="">
      </div>
      <div class="flex items-center">
        <img src="assets/images/fmsg.svg" class="w-6 h-6 opacity-85 mr-3" alt="">
        <img src="assets/images/fuser.svg" class="w-6 h-6 opacity-85 ml-3" alt="">
      </div>
    </div>
  </div>
</div>
<div id="navcontainer" class="invisible" (click)="openMenu()">
  <div id="bgModal" class="opacity-0 absolute inset-0 z-40 bg-black duration-500 ease-in-out transition-all"></div>
  <div id="navItems" class="translate-y-full duration-1000 delay-75 ease-in-out transition-all overflow-x-hidden overflow-y-auto absolute inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <section class="relative container mx-auto px-[24px] mt-36">
      <div id="navList" class="bg-white p-3 rounded-2xl my-4 w-full relative flex items-center overflow-hidden nav-items">
        <ul class="my-4 space-y-3">
          <li *ngFor="let item of navContents()">
              <a routerLink="/measurement" class="flex items-center p-3 text-md font-normal rounded-lg bg-white shadow-xl group mx-2">
                <img [src]='item.svg' class="w-6 h-6" alt="">
                <span class="flex-1 ml-3 whitespace-nowrap">{{ item.text }}</span>
              </a>
          </li>
      </ul>
      </div>
    </section>
  </div>
</div>
