<app-home-button></app-home-button>
<div class="absolute inset-x-0 bottom-0 bg-white h-20 w-full mx-auto p-[24px] rounded-b-[49px] rounded-t-3xl z-40">
  <div class="relative container mx-auto px-2">
    <div class="flex justify-between items-center">
      <div class="flex items-center">
        <img src="assets/images/fhome.svg" class="w-6 h-6 opacity-85 mr-3" alt="">
        <img src="assets/images/fbar.svg" class="w-6 h-6 opacity-85 ml-3" alt="">
      </div>
      <div class="flex items-center">
        <img src="assets/images/fmsg.svg" class="w-6 h-6 opacity-85 mr-3" alt="">
        <img src="assets/images/fuser.svg" class="w-6 h-6 opacity-85 ml-3" alt="">
      </div>
    </div>
  </div>
</div>
